
form-wrap {



}

	.header {

		width: 100%;
		border: 1px solid;
		clear: none;
		height: 90px;
		background-color: ;
		display: solid;
		margin: 3px 0px;
		box-sizing: border-box;
		position: relative;

	}

	.header .title{ 
		text-align: center;
		display: block;
		font-size: 2.5em;
		margin: 20px;

		
	}
	.account {
		position: absolute;
		right: 0;
		margin: 15px 75px;
		height: 100px;
		background-color:;


	}

	.account ul{
		margin: 0;
		padding: 0;
		border: 1px solid black;
		background-color: white;
		border-radius: 8px;

	}

	.account li{
		list-style: none;
		border-bottom: 1px solid blue;
		padding: .1em;
		


	}

	.account li:last-child{
		border-bottom: none;

	}
	.account li a{
		text-decoration: none;
		color: black;

	}
	.account li a:hover{
		color: blue;
	}
	 .profile_button{ 
		font-size:1.2em;
		background-color: white;
		color: black;
		border: 1px solid #bbb;
		border-radius: 8px;
		display: block;
		text-decoration: none;
		width: auto;
		margin: -5px 0px 0px 0px ;

		


	}

	.profile_button:hover{
		color: blue;
	}
		

	

fieldset {
/* max width allows the width to become smaller as the page gets smaller*/
		max-width: 300px;
		margin: 50px left auto;
		border: 1px solid;
}


		
	input[type=text]{
		clear: none;
		float: left;

			}

	.row{
		width: 70%;			
		clear: both;
		float: left;
			}
			
	.columns{
		width: 100%;
		border:1px solid;
		height: 800px;
		



	}
	.columns .column1{
		box-sizing: border-box;
		clear: none;
		float: left;
		width: 25%;
		border: 1px solid black;
		height: 85%;

	}
	
	.columns .column2{
		box-sizing: border-box;
		clear: none;
		float: left;
		width: 50%;
		border: 1px solid black;
		height: 85%;
	}
	.middle_header{
		width:50%;
		background:rgb(150,150,150);
		display:block;
		border: 1px solid;
		padding:0% 25%;

	}	
	.columns .column3{
		box-sizing: border-box;
		clear: none;
		float: left;
		width: 25%;
		border: 1px solid black;
		height: 85%;
		display: block;
	}
	.state{
		display: block;
		margin: 15px 50px ;
		clear: both;

	}
	#footer{
		box-sizing: border-box;
		clear: both;
		display: block;
		text-align: center;
		margin: 16px 0px; 
		
		float: left;
		width: 100%;


		
		
		
		
	}
